<a href="https://colab.research.google.com/github/tran0467/User-behaviour-analysis/blob/main/Clean_DataSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import datetime
import seaborn as sns                       #visualisation
import matplotlib.pyplot as plt             #visualisation
%matplotlib inline     
sns.set(color_codes=True)
%load_ext google.colab.data_table

In [ ]:
# Dataset is now stored in a Pandas Dataframe
path612 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_06_2018/M.20180612_Risk_Factors.csv"
df612a = pd.read_csv(path612)
df612 = df612a[(df612a['Date'] > '2018-06-12 00:00:00') & (df612a['Date'] < '2018-06-12 23:59:59')]
path613 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_06_2018/M.20180613_Risk_Factors.csv"
df613a = pd.read_csv(path613)
df613 = df613a[(df613a['Date'] > '2018-06-13 00:00:00') & (df613a['Date'] < '2018-06-13 23:59:59')]
path614 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_06_2018/M.20180614_Risk_Factors.csv"
df614a = pd.read_csv(path614)
df614 = df614a[(df614a['Date'] > '2018-06-14 00:00:00') & (df614a['Date'] < '2018-06-14 23:59:59')]
path615 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_06_2018/M.20180615_Risk_Factors.csv"
df615a = pd.read_csv(path615)
df615 = df615a[(df615a['Date'] > '2018-06-15 00:00:00') & (df615a['Date'] < '2018-06-15 23:59:59')]
path616 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_06_2018/M.20180616_Risk_Factors.csv"
df616a = pd.read_csv(path616)
df616 = df616a[(df616a['Date'] > '2018-06-16 00:00:00') & (df616a['Date'] < '2018-06-16 23:59:59')]
path617 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_06_2018/M.20180617_Risk_Factors.csv"
df617a = pd.read_csv(path617)
df617 = df617a[(df617a['Date'] > '2018-06-17 00:00:00') & (df617a['Date'] < '2018-06-17 23:59:59')]
path618 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_06_2018/M.20180618_Risk_Factors.csv"
df618a = pd.read_csv(path618)
df618 = df618a[(df618a['Date'] > '2018-06-18 00:00:00') & (df618a['Date'] < '2018-06-18 23:59:59')]
path619 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_06_2018/M.20180619_Risk_Factors.csv"
df619a = pd.read_csv(path619)
df619 = df619a[(df619a['Date'] > '2018-06-19 00:00:00') & (df619a['Date'] < '2018-06-19 23:59:59')]
path620 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_06_2018/M.20180620_Risk_Factors.csv"
df620a = pd.read_csv(path620)
df620 = df620a[(df620a['Date'] > '2018-06-20 00:00:00') & (df620a['Date'] < '2018-06-20 23:59:59')]
path621 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_06_2018/M.20180621_Risk_Factors.csv"
df621a = pd.read_csv(path621)
df621 = df621a[(df621a['Date'] > '2018-06-21 00:00:00') & (df621a['Date'] < '2018-06-21 23:59:59')]
path622 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_06_2018/M.20180622_Risk_Factors.csv"
df622a = pd.read_csv(path622)
df622 = df622a[(df622a['Date'] > '2018-06-22 00:00:00') & (df622a['Date'] < '2018-06-22 23:59:59')]
path623 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_06_2018/M.20180623_Risk_Factors.csv"
df623a = pd.read_csv(path623)
df623 = df623a[(df623a['Date'] > '2018-06-23 00:00:00') & (df623a['Date'] < '2018-06-23 23:59:59')]
path624 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_06_2018/M.20180624_Risk_Factors.csv"
df624a = pd.read_csv(path624)
df624 = df624a[(df624a['Date'] > '2018-06-24 00:00:00') & (df624a['Date'] < '2018-06-24 23:59:59')]
path625 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_06_2018/M.20180625_Risk_Factors.csv"
df625a = pd.read_csv(path625)
df625 = df625a[(df625a['Date'] > '2018-06-25 00:00:00') & (df625a['Date'] < '2018-06-25 23:59:59')]
path626 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_06_2018/M.20180626_Risk_Factors.csv"
df626a = pd.read_csv(path626)
df626 = df626a[(df626a['Date'] > '2018-06-26 00:00:00') & (df626a['Date'] < '2018-06-26 23:59:59')]
path627 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_06_2018/M.20180627_Risk_Factors.csv"
df627a = pd.read_csv(path627)
df627 = df627a[(df627a['Date'] > '2018-06-27 00:00:00') & (df627a['Date'] < '2018-06-27 23:59:59')]
path628 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_06_2018/M.20180628_Risk_Factors.csv"
df628a = pd.read_csv(path628)
df628 = df628a[(df628a['Date'] > '2018-06-28 00:00:00') & (df628a['Date'] < '2018-06-28 23:59:59')]
path629 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_06_2018/M.20180629_Risk_Factors.csv"
df629a = pd.read_csv(path629)
df629 = df629a[(df629a['Date'] > '2018-06-29 00:00:00') & (df629a['Date'] < '2018-06-29 23:59:59')]
path630 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_06_2018/M.20180630_Risk_Factors.csv"
df630a = pd.read_csv(path630)
df630 = df630a[(df630a['Date'] > '2018-06-30 00:00:00') & (df630a['Date'] < '2018-06-30 23:59:59')]
#
path701 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180701_Risk_Factors.csv"
df701a = pd.read_csv(path701)
df701 = df701a[(df701a['Date'] > '2018-07-01 00:00:00') & (df701a['Date'] < '2018-07-01 23:59:59')]
path702 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180702_Risk_Factors.csv"
df702a = pd.read_csv(path702)
df702 = df702a[(df702a['Date'] > '2018-07-02 00:00:00') & (df702a['Date'] < '2018-07-02 23:59:59')]
path703 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180703_Risk_Factors.csv"
df703a = pd.read_csv(path703)
df703 = df703a[(df703a['Date'] > '2018-07-03 00:00:00') & (df703a['Date'] < '2018-07-03 23:59:59')]
path704 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180704_Risk_Factors.csv"
df704a = pd.read_csv(path704)
df704 = df704a[(df704a['Date'] > '2018-07-04 00:00:00') & (df704a['Date'] < '2018-07-04 23:59:59')]
path705 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180705_Risk_Factors.csv"
df705a = pd.read_csv(path705)
df705 = df705a[(df705a['Date'] > '2018-07-05 00:00:00') & (df705a['Date'] < '2018-07-05 23:59:59')]
path706 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180706_Risk_Factors.csv"
df706a = pd.read_csv(path706)
df706 = df706a[(df706a['Date'] > '2018-07-06 00:00:00') & (df706a['Date'] < '2018-07-06 23:59:59')]
path707 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180707_Risk_Factors.csv"
df707a = pd.read_csv(path707)
df707 = df707a[(df707a['Date'] > '2018-07-07 00:00:00') & (df707a['Date'] < '2018-07-07 23:59:59')]
path708 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180708_Risk_Factors.csv"
df708a = pd.read_csv(path708)
df708 = df708a[(df708a['Date'] > '2018-07-08 00:00:00') & (df708a['Date'] < '2018-07-08 23:59:59')]
path709 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180709_Risk_Factors.csv"
df709a = pd.read_csv(path709)
df709 = df709a[(df709a['Date'] > '2018-07-09 00:00:00') & (df709a['Date'] < '2018-07-09 23:59:59')]
path710 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180710_Risk_Factors.csv"
df710a = pd.read_csv(path710)
df710 = df710a[(df710a['Date'] > '2018-07-10 00:00:00') & (df710a['Date'] < '2018-07-10 23:59:59')]
path711 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180711_Risk_Factors.csv"
df711a = pd.read_csv(path711)
df711 = df711a[(df711a['Date'] > '2018-07-11 00:00:00') & (df711a['Date'] < '2018-07-11 23:59:59')]
path712 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180712_Risk_Factors.csv"
df712a = pd.read_csv(path712)
df712 = df712a[(df712a['Date'] > '2018-07-12 00:00:00') & (df712a['Date'] < '2018-07-12 23:59:59')]
path713 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180713_Risk_Factors.csv"
df713a = pd.read_csv(path713)
df713 = df713a[(df713a['Date'] > '2018-07-13 00:00:00') & (df713a['Date'] < '2018-07-13 23:59:59')]
path714 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180714_Risk_Factors.csv"
df714a = pd.read_csv(path714)
df714 = df714a[(df714a['Date'] > '2018-07-14 00:00:00') & (df714a['Date'] < '2018-07-14 23:59:59')]
path715 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180715_Risk_Factors.csv"
df715a = pd.read_csv(path715)
df715 = df715a[(df715a['Date'] > '2018-07-15 00:00:00') & (df715a['Date'] < '2018-07-15 23:59:59')]
path716 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180716_Risk_Factors.csv"
df716a = pd.read_csv(path716)
df716 = df716a[(df716a['Date'] > '2018-07-16 00:00:00') & (df716a['Date'] < '2018-07-16 23:59:59')]
path717 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180717_Risk_Factors.csv"
df717a = pd.read_csv(path717)
df717 = df717a[(df717a['Date'] > '2018-07-17 00:00:00') & (df717a['Date'] < '2018-07-17 23:59:59')]
path718 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180718_Risk_Factors.csv"
df718a = pd.read_csv(path718)
df718 = df718a[(df718a['Date'] > '2018-07-18 00:00:00') & (df718a['Date'] < '2018-07-18 23:59:59')]
path719 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180719_Risk_Factors.csv"
df719a = pd.read_csv(path719)
df719 = df719a[(df719a['Date'] > '2018-07-19 00:00:00') & (df719a['Date'] < '2018-07-19 23:59:59')]
path720 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180720_Risk_Factors.csv"
df720a = pd.read_csv(path720)
df720 = df720a[(df720a['Date'] > '2018-07-20 00:00:00') & (df720a['Date'] < '2018-07-20 23:59:59')]
path721 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180721_Risk_Factors.csv"
df721a = pd.read_csv(path721)
df721 = df721a[(df721a['Date'] > '2018-07-21 00:00:00') & (df721a['Date'] < '2018-07-21 23:59:59')]
path722 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180722_Risk_Factors.csv"
df722a = pd.read_csv(path722)
df722 = df722a[(df722a['Date'] > '2018-07-22 00:00:00') & (df722a['Date'] < '2018-07-22 23:59:59')]
path723 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180723_Risk_Factors.csv"
df723a = pd.read_csv(path723)
df723 = df723a[(df723a['Date'] > '2018-07-23 00:00:00') & (df723a['Date'] < '2018-07-23 23:59:59')]
path724 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180724_Risk_Factors.csv"
df724a = pd.read_csv(path724)
df724 = df724a[(df724a['Date'] > '2018-07-24 00:00:00') & (df724a['Date'] < '2018-07-24 23:59:59')]
path725 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180725_Risk_Factors.csv"
df725a = pd.read_csv(path725)
df725 = df725a[(df725a['Date'] > '2018-07-25 00:00:00') & (df725a['Date'] < '2018-07-25 23:59:59')]
path726 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180726_Risk_Factors.csv"
df726a = pd.read_csv(path726)
df726 = df726a[(df726a['Date'] > '2018-07-26 00:00:00') & (df726a['Date'] < '2018-07-26 23:59:59')]
path727 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180727_Risk_Factors.csv"
df727a = pd.read_csv(path727)
df727 = df727a[(df727a['Date'] > '2018-07-27 00:00:00') & (df727a['Date'] < '2018-07-27 23:59:59')]
path728 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180728_Risk_Factors.csv"
df728a = pd.read_csv(path728)
df728 = df728a[(df728a['Date'] > '2018-07-28 00:00:00') & (df728a['Date'] < '2018-07-28 23:59:59')]
path729 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180729_Risk_Factors.csv"
df729a = pd.read_csv(path729)
df729 = df729a[(df729a['Date'] > '2018-07-29 00:00:00') & (df729a['Date'] < '2018-07-29 23:59:59')]
path730 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180730_Risk_Factors.csv"
df730a = pd.read_csv(path730)
df730 = df730a[(df730a['Date'] > '2018-07-30 00:00:00') & (df730a['Date'] < '2018-07-30 23:59:59')]
path731 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_07_2018/M.20180731_Risk_Factors.csv"
df731a = pd.read_csv(path731)
df731 = df731a[(df731a['Date'] > '2018-07-31 00:00:00') & (df731a['Date'] < '2018-07-31 23:59:59')]
#
path801 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180801_Risk_Factors.csv"
df801a = pd.read_csv(path801)
df801 = df801a[(df801a['Date'] > '2018-08-01 00:00:00') & (df801a['Date'] < '2018-08-01 23:59:59')]
path802 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180802_Risk_Factors.csv"
df802a = pd.read_csv(path802)
df802 = df802a[(df802a['Date'] > '2018-08-02 00:00:00') & (df802a['Date'] < '2018-08-02 23:59:59')]
path803 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180803_Risk_Factors.csv"
df803a = pd.read_csv(path803)
df803 = df803a[(df803a['Date'] > '2018-08-03 00:00:00') & (df803a['Date'] < '2018-08-03 23:59:59')]
path804 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180804_Risk_Factors.csv"
df804a = pd.read_csv(path804)
df804 = df804a[(df804a['Date'] > '2018-08-04 00:00:00') & (df804a['Date'] < '2018-08-04 23:59:59')]
path805 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180805_Risk_Factors.csv"
df805a = pd.read_csv(path805)
df805 = df805a[(df805a['Date'] > '2018-08-05 00:00:00') & (df805a['Date'] < '2018-08-05 23:59:59')]
path806 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180806_Risk_Factors.csv"
df806a = pd.read_csv(path806)
df806 = df806a[(df806a['Date'] > '2018-08-06 00:00:00') & (df806a['Date'] < '2018-08-06 23:59:59')]
path807 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180807_Risk_Factors.csv"
df807a = pd.read_csv(path807)
df807 = df807a[(df807a['Date'] > '2018-08-07 00:00:00') & (df807a['Date'] < '2018-08-07 23:59:59')]
path808 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180808_Risk_Factors.csv"
df808a = pd.read_csv(path808)
df808 = df808a[(df808a['Date'] > '2018-08-08 00:00:00') & (df808a['Date'] < '2018-08-08 23:59:59')]
path809 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180809_Risk_Factors.csv"
df809a = pd.read_csv(path809)
df809 = df809a[(df809a['Date'] > '2018-08-09 00:00:00') & (df809a['Date'] < '2018-08-09 23:59:59')]
path810 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180810_Risk_Factors.csv"
df810a = pd.read_csv(path810)
df810 = df810a[(df810a['Date'] > '2018-08-10 00:00:00') & (df810a['Date'] < '2018-08-10 23:59:59')]
path811 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180811_Risk_Factors.csv"
df811a = pd.read_csv(path811)
df811 = df811a[(df811a['Date'] > '2018-08-11 00:00:00') & (df811a['Date'] < '2018-08-11 23:59:59')]
path812 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180812_Risk_Factors.csv"
df812a = pd.read_csv(path812)
df812 = df812a[(df812a['Date'] > '2018-08-12 00:00:00') & (df812a['Date'] < '2018-08-12 23:59:59')]
path813 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180813_Risk_Factors.csv"
df813a = pd.read_csv(path813)
df813 = df813a[(df813a['Date'] > '2018-08-13 00:00:00') & (df813a['Date'] < '2018-08-13 23:59:59')]
path814 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180814_Risk_Factors.csv"
df814a = pd.read_csv(path814)
df814 = df814a[(df814a['Date'] > '2018-08-14 00:00:00') & (df814a['Date'] < '2018-08-14 23:59:59')]
path815 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180815_Risk_Factors.csv"
df815a = pd.read_csv(path815)
df815 = df815a[(df815a['Date'] > '2018-08-15 00:00:00') & (df815a['Date'] < '2018-08-15 23:59:59')]
path816 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180816_Risk_Factors.csv"
df816a = pd.read_csv(path816)
df816 = df816a[(df816a['Date'] > '2018-08-16 00:00:00') & (df816a['Date'] < '2018-08-16 23:59:59')]
path817 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180817_Risk_Factors.csv"
df817a = pd.read_csv(path817)
df817 = df817a[(df817a['Date'] > '2018-08-17 00:00:00') & (df817a['Date'] < '2018-08-17 23:59:59')]
path818 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180818_Risk_Factors.csv"
df818a = pd.read_csv(path818)
df818 = df818a[(df818a['Date'] > '2018-08-18 00:00:00') & (df818a['Date'] < '2018-08-18 23:59:59')]
path819 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180819_Risk_Factors.csv"
df819a = pd.read_csv(path819)
df819 = df819a[(df819a['Date'] > '2018-08-19 00:00:00') & (df819a['Date'] < '2018-08-19 23:59:59')]
path820 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180820_Risk_Factors.csv"
df820a = pd.read_csv(path820)
df820 = df820a[(df820a['Date'] > '2018-08-20 00:00:00') & (df820a['Date'] < '2018-08-20 23:59:59')]
path821 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180821_Risk_Factors.csv"
df821a = pd.read_csv(path821)
df821 = df821a[(df821a['Date'] > '2018-08-21 00:00:00') & (df821a['Date'] < '2018-08-21 23:59:59')]
path822 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180822_Risk_Factors.csv"
df822a = pd.read_csv(path822)
df822 = df822a[(df822a['Date'] > '2018-08-22 00:00:00') & (df822a['Date'] < '2018-08-22 23:59:59')]
path823 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180823_Risk_Factors.csv"
df823a = pd.read_csv(path823)
df823 = df823a[(df823a['Date'] > '2018-08-23 00:00:00') & (df823a['Date'] < '2018-08-23 23:59:59')]
path824 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180824_Risk_Factors.csv"
df824a = pd.read_csv(path824)
df824 = df824a[(df824a['Date'] > '2018-08-24 00:00:00') & (df824a['Date'] < '2018-08-24 23:59:59')]
path825 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180825_Risk_Factors.csv"
df825a = pd.read_csv(path825)
df825 = df825a[(df825a['Date'] > '2018-08-25 00:00:00') & (df825a['Date'] < '2018-08-25 23:59:59')]
path826 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180826_Risk_Factors.csv"
df826a = pd.read_csv(path826)
df826 = df826a[(df826a['Date'] > '2018-08-26 00:00:00') & (df826a['Date'] < '2018-08-26 23:59:59')]
path827 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180827_Risk_Factors.csv"
df827a = pd.read_csv(path827)
df827 = df827a[(df827a['Date'] > '2018-08-27 00:00:00') & (df827a['Date'] < '2018-08-27 23:59:59')]
path828 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180828_Risk_Factors.csv"
df828a = pd.read_csv(path828)
df828 = df828a[(df828a['Date'] > '2018-08-28 00:00:00') & (df828a['Date'] < '2018-08-28 23:59:59')]
path829 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180829_Risk_Factors.csv"
df829a = pd.read_csv(path829)
df829 = df829a[(df829a['Date'] > '2018-08-29 00:00:00') & (df829a['Date'] < '2018-08-29 23:59:59')]
path830 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180830_Risk_Factors.csv"
df830a = pd.read_csv(path830)
df830 = df830a[(df830a['Date'] > '2018-08-30 00:00:00') & (df830a['Date'] < '2018-08-30 23:59:59')]
path831 = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/YF_CSVData_08_2018/M.20180831_Risk_Factors.csv"
df831a = pd.read_csv(path831)
df831 = df831a[(df831a['Date'] > '2018-08-31 00:00:00') & (df831a['Date'] < '2018-08-31 23:59:59')]

#Add all dataframes together
dfFull = pd.concat([df612,df613,df614,df615,df616,df617,df618,df619,df620,df621,df622,df623,df624,df625,df626,df627,df628,df629,df630,
                    df701,df702,df703,df704,df705,df706,df707,df708,df709,df710,df711,df712,df713,df714,df715,df716,df717,df718,df719,df720,
                    df721,df722,df723,df724,df725,df726,df727,df728,df729,df730,df731,
                    df801,df802,df803,df804,df805,df806,df807,df808,df809,df810,df811,df812,df813,df814,df815,df816,df817,df818,df819,df820,
                    df821,df822,df823,df824,df825,df826,df827,df828,df829,df830,df831], ignore_index=True)
dfFull
#drop duplicated rows
dfDropDup = dfFull.drop_duplicates()
#display(dfDropDup)

#fill NaN value with "None" to calculate changes
dfNonNull = dfDropDup.fillna('None')
display (dfNonNull)

             Visitor_ID  ... Medical_Conditions
0      00771136b36bb335  ...               None
1      00771136b36bb335  ...               None
2      00771136b36bb335  ...               None
3      00771136b36bb335  ...               None
4      00771136b36bb335  ...               None
...                 ...  ...                ...
71827  e55a3a3a83350969  ...               None
71828  e55a3a3a83350969  ...               None
71829  e55a3a3a83350969  ...               None
71830  e55a3a3a83350969  ...               None
71831  e55a3a3a83350969  ...               None

[71832 rows x 21 columns]

In [ ]:
#from google.colab import drive
#drive.mount('drive')
#dfDropDup.to_csv('dfDropDup.csv')
#!cp dfDropDup.csv "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/"

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [ ]:
#from google.colab import drive
#drive.mount('drive')
#dfNonNull.to_csv('dfNonNull.csv')
#!cp dfNonNull.csv "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/"

In [ ]:
pathNonNull = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/dfNonNull.csv"
dfNonNulla = pd.read_csv(pathNonNull)
display (dfNonNulla)

pathDropDup = "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/dfDropDup.csv"
dfDropDup = pd.read_csv(pathDropDup)
display (dfDropDup)


#number of changes
def Changes(x):
    return sum(x.iloc[:-1] != x.shift(-1).iloc[:-1])

       Unnamed: 0        Visitor_ID  ... Contraception Medical_Conditions
0               0  00771136b36bb335  ...          None               None
1               1  00771136b36bb335  ...          None               None
2               2  00771136b36bb335  ...          None               None
3               3  00771136b36bb335  ...          None               None
4               4  00771136b36bb335  ...          None               None
...           ...               ...  ...           ...                ...
71827       71827  e55a3a3a83350969  ...          None               None
71828       71828  e55a3a3a83350969  ...          None               None
71829       71829  e55a3a3a83350969  ...          None               None
71830       71830  e55a3a3a83350969  ...          None               None
71831       71831  e55a3a3a83350969  ...            No               None

[71832 rows x 22 columns]

       Unnamed: 0        Visitor_ID  ... Contraception Medical_Conditions
0               0  00771136b36bb335  ...           NaN                NaN
1               1  00771136b36bb335  ...           NaN                NaN
2               2  00771136b36bb335  ...           NaN                NaN
3               3  00771136b36bb335  ...           NaN                NaN
4               4  00771136b36bb335  ...           NaN                NaN
...           ...               ...  ...           ...                ...
71827       71827  e55a3a3a83350969  ...           NaN                NaN
71828       71828  e55a3a3a83350969  ...           NaN                NaN
71829       71829  e55a3a3a83350969  ...           NaN                NaN
71830       71830  e55a3a3a83350969  ...           NaN                NaN
71831       71831  e55a3a3a83350969  ...            No                NaN

[71832 rows x 22 columns]

In [ ]:
#TRYING MONTH
montha = dfDropDup[['Visitor_ID','Trying_Months']].copy()
#month = montha.fillna(0)
monthNoDup = montha.drop_duplicates()
monthDetectChange = pd.DataFrame(monthNoDup.groupby('Visitor_ID').agg({'Trying_Months' : Changes}).reset_index().values, columns=["Visitor_ID", "Month Changes"])
dfMonthMerge = pd.merge(montha[['Visitor_ID','Trying_Months']],monthDetectChange[['Visitor_ID','Month Changes']], on = 'Visitor_ID', how = 'left')

#if changes = 0 & 1: Keep
dfMonthMerge_0 = pd.DataFrame(dfMonthMerge.loc[dfMonthMerge['Month Changes'] < 2].reset_index().values, columns=["Unnamed: 0","Visitor_ID","Trying Month New", "Month Changes"])
#if changes >=2: remove the default value of 0
dfMonthMerge_2 = dfMonthMerge.loc[dfMonthMerge['Month Changes'] > 1]
dfMonthMerge_2 = dfMonthMerge_2.fillna(0)
month_Remove = (dfMonthMerge_2['Trying_Months'] != 0).groupby(dfMonthMerge_2['Visitor_ID']).cumsum()
month_Remove2 = pd.DataFrame(dfMonthMerge_2[month_Remove!=0].reset_index().values, columns=["Unnamed: 0","Visitor_ID","Trying Month New", "Month Changes"])

#merge all changes
month_final = dfMonthMerge_0.append(month_Remove2)

dfRemoveMonth = pd.merge(dfDropDup,month_final[['Unnamed: 0','Trying Month New']], on = 'Unnamed: 0', how='left')
dfRemoveMonth

#from google.colab import drive
#drive.mount('drive')
#df831a.to_csv('df831a.csv')
#!cp df831a.csv "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/"

      Unnamed: 0        Visitor_ID  ... Medical_Conditions Trying Month New
0              0  00771136b36bb335  ...                NaN              NaN
1              1  00771136b36bb335  ...                NaN              NaN
2              2  00771136b36bb335  ...                NaN              NaN
3              3  00771136b36bb335  ...                NaN              NaN
4              4  00771136b36bb335  ...                NaN              NaN
...          ...               ...  ...                ...              ...
71827      71827  e55a3a3a83350969  ...                NaN                6
71828      71828  e55a3a3a83350969  ...                NaN                6
71829      71829  e55a3a3a83350969  ...                NaN                6
71830      71830  e55a3a3a83350969  ...                NaN                6
71831      71831  e55a3a3a83350969  ...                NaN                6

[71832 rows x 23 columns]

In [ ]:
#SMOKING
Smokinga = dfDropDup[['Visitor_ID','Smoking']].copy()
Smoking = Smokinga.fillna(0) #assume no NaN for this attribute
SmokingNoDup = Smoking.drop_duplicates()
SmokingDetectChange = pd.DataFrame(SmokingNoDup.groupby('Visitor_ID').agg({'Smoking' : Changes}).reset_index().values, columns=["Visitor_ID", "Smoking Changes"])
dfSmokingMerge = pd.merge(Smoking[['Visitor_ID','Smoking']],SmokingDetectChange[['Visitor_ID','Smoking Changes']], on = 'Visitor_ID', how = 'left')

#if changes = 0: Keep
dfSmokingMerge_0 = pd.DataFrame(dfSmokingMerge.loc[dfSmokingMerge['Smoking Changes'] < 1].reset_index().values, columns=["Unnamed: 0","Visitor_ID","Smoking New", "Smoking Changes"])
#if changes >0: remove the default value of 0
dfSmokingMerge_2 = dfSmokingMerge.loc[dfSmokingMerge['Smoking Changes'] > 0]
Smoking_Remove = (dfSmokingMerge_2['Smoking'] != 0).groupby(dfSmokingMerge_2['Visitor_ID']).cumsum()
Smoking_Remove2 = pd.DataFrame(dfSmokingMerge_2[Smoking_Remove!=0].reset_index().values, columns=["Unnamed: 0","Visitor_ID","Smoking New", "Smoking Changes"])

#merge all changes
Smoking_final = dfSmokingMerge_0.append(Smoking_Remove2)

dfRemoveSmoking = pd.merge(dfRemoveMonth,Smoking_final[['Unnamed: 0','Smoking New']], on = 'Unnamed: 0', how='left')
dfRemoveSmoking

      Unnamed: 0        Visitor_ID  ... Trying Month New Smoking New
0              0  00771136b36bb335  ...              NaN           0
1              1  00771136b36bb335  ...              NaN           0
2              2  00771136b36bb335  ...              NaN           0
3              3  00771136b36bb335  ...              NaN           0
4              4  00771136b36bb335  ...              NaN           0
...          ...               ...  ...              ...         ...
71827      71827  e55a3a3a83350969  ...                6           0
71828      71828  e55a3a3a83350969  ...                6           0
71829      71829  e55a3a3a83350969  ...                6           0
71830      71830  e55a3a3a83350969  ...                6           0
71831      71831  e55a3a3a83350969  ...                6           0

[71832 rows x 24 columns]

In [ ]:
#ALCOHOL CONSUMPTION
Alcohola = dfDropDup[['Visitor_ID','Alcohol_Consumption']].copy()
Alcohol = Alcohola.fillna(0) #assume no NaN for this attribute
AlcoholNoDup = Alcohol.drop_duplicates()
AlcoholDetectChange = pd.DataFrame(AlcoholNoDup.groupby('Visitor_ID').agg({'Alcohol_Consumption' : Changes}).reset_index().values, columns=["Visitor_ID", "Alcohol Changes"])
dfAlcoholMerge = pd.merge(Alcohol[['Visitor_ID','Alcohol_Consumption']],AlcoholDetectChange[['Visitor_ID','Alcohol Changes']], on = 'Visitor_ID', how = 'left')

#if changes = 0: Keep
dfAlcoholMerge_0 = pd.DataFrame(dfAlcoholMerge.loc[dfAlcoholMerge['Alcohol Changes'] < 1].reset_index().values, columns=["Unnamed: 0","Visitor_ID","Alcohol New", "Alcohol Changes"])
#if changes >0: remove the default value of 0
dfAlcoholMerge_2 = dfAlcoholMerge.loc[dfAlcoholMerge['Alcohol Changes'] > 0]
Alcohol_Remove = (dfAlcoholMerge_2['Alcohol_Consumption'] != 0).groupby(dfAlcoholMerge_2['Visitor_ID']).cumsum()
Alcohol_Remove2 = pd.DataFrame(dfAlcoholMerge_2[Alcohol_Remove!=0].reset_index().values, columns=["Unnamed: 0","Visitor_ID","Alcohol New", "Alcohol Changes"])

#merge all changes
Alcohol_final = dfAlcoholMerge_0.append(Alcohol_Remove2)

dfRemoveAlcohol = pd.merge(dfRemoveSmoking,Alcohol_final[['Unnamed: 0','Alcohol New']], on = 'Unnamed: 0', how='left')
dfRemoveAlcohol

      Unnamed: 0        Visitor_ID  ... Smoking New Alcohol New
0              0  00771136b36bb335  ...           0           0
1              1  00771136b36bb335  ...           0           0
2              2  00771136b36bb335  ...           0           0
3              3  00771136b36bb335  ...           0           0
4              4  00771136b36bb335  ...           0           0
...          ...               ...  ...         ...         ...
71827      71827  e55a3a3a83350969  ...           0           0
71828      71828  e55a3a3a83350969  ...           0           0
71829      71829  e55a3a3a83350969  ...           0           0
71830      71830  e55a3a3a83350969  ...           0           0
71831      71831  e55a3a3a83350969  ...           0           0

[71832 rows x 25 columns]

In [ ]:
#SEX FREQUENCY
Sexa = dfDropDup[['Visitor_ID','Sex_Frequency']].copy()
SexNoDup = Sexa.drop_duplicates()
SexDetectChange = pd.DataFrame(SexNoDup.groupby('Visitor_ID').agg({'Sex_Frequency' : Changes}).reset_index().values, columns=["Visitor_ID", "Sex Frequency Changes"])
dfSexMerge = pd.merge(Sexa[['Visitor_ID','Sex_Frequency']],SexDetectChange[['Visitor_ID','Sex Frequency Changes']], on = 'Visitor_ID', how = 'left')

#if changes = 0 & 1: Keep
dfSexMerge_0 = pd.DataFrame(dfSexMerge.loc[dfSexMerge['Sex Frequency Changes'] < 2].reset_index().values, columns=["Unnamed: 0","Visitor_ID","Sex Frequency New", "Sex Frequency Changes"])
#if changes >=2: remove the default value of 0
dfSexMerge_2 = dfSexMerge.loc[dfSexMerge['Sex Frequency Changes'] > 1]
dfSexMerge_2 = dfSexMerge_2.fillna(0)
Sex_Remove = (dfSexMerge_2['Sex_Frequency'] != 0).groupby(dfSexMerge_2['Visitor_ID']).cumsum()
Sex_Remove2 = pd.DataFrame(dfSexMerge_2[Sex_Remove!=0].reset_index().values, columns=["Unnamed: 0","Visitor_ID","Sex Frequency New", "Sex Frequency Changes"])
display(Sex_Remove2)
#merge all changes
Sex_final = dfSexMerge_0.append(Sex_Remove2)

dfRemoveSex = pd.merge(dfRemoveAlcohol,Sex_final[['Unnamed: 0','Sex Frequency New']], on = 'Unnamed: 0', how='left')
dfRemoveSex

In [ ]:
#change timestamp to readable type
#dfRemoveSex['Timestamp'] = pd.to_datetime(dfRemoveSex['Timestamp'], unit='ms')
dfRemove0withNaN = dfRemoveSex[['Visitor_ID','Gender','Step','Timestamp','Age','Height',
                         'Weight', 'Smoking New',	'Alcohol New',	'Trying_Conceive',	'Trying Month New',	
                         'Previous_Children',	'STI_Tested',	'STI_Positive',	'Menstrual_Information',
                         'Sex Frequency New',	'Sex_Right_Time',	'Contraception',	'Medical_Conditions']].copy()
dfRemove0withNone = dfRemove0withNaN.fillna('None')
dfRemove0withNaN

             Visitor_ID Gender  ...  Contraception  Medical_Conditions
0      00771136b36bb335  Women  ...            NaN                 NaN
1      00771136b36bb335  Women  ...            NaN                 NaN
2      00771136b36bb335  Women  ...            NaN                 NaN
3      00771136b36bb335  Women  ...            NaN                 NaN
4      00771136b36bb335  Women  ...            NaN                 NaN
...                 ...    ...  ...            ...                 ...
71827  e55a3a3a83350969    Men  ...            NaN                 NaN
71828  e55a3a3a83350969    Men  ...            NaN                 NaN
71829  e55a3a3a83350969    Men  ...            NaN                 NaN
71830  e55a3a3a83350969    Men  ...            NaN                 NaN
71831  e55a3a3a83350969    Men  ...             No                 NaN

[71832 rows x 19 columns]

In [ ]:
from google.colab import drive
drive.mount('drive')
dfRemove0withNaN.to_csv('dfRemove0withNaN.csv')
!cp dfRemove0withNaN.csv "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/"

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

In [ ]:
from google.colab import drive
drive.mount('drive')
dfRemove0withNone.to_csv('dfRemove0withNone.csv')
!cp dfRemove0withNone.csv "/content/drive/MyDrive/05. STUDY/FLINDERS/2020-08 Masters Thesis/"

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).